.Nav {
  grid-area: N;
  background-color: burlywood;
  padding: 30px;
}
.item a {
  color: white;
  text-decoration: none;
}
.item a.activeLink {
  color: gold;
}
.name {
  text-align: left;
  color: green;
  margin-bottom: 10px;
}