.Nav {
  grid-area: N;
  background-color: burlywood;
  padding: 30px;
}
.item a {
  color: white;
  text-decoration: none;
}
.item a.activeLink {
  color: gold;
}
.name {
  text-align: left;
  color: green;
}
.imgName {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}