.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 15px;
}

.dialog a {
    color: honeydew;
    text-decoration: none;
}

.messages {
    padding: 20px;
}